<nav class="top-bar">
    <div class="container1 w-100 justify-content-end p-4">
      <!-- Logo -->
      <!-- <img src="assets/logo-pipa.png" alt="Visão de Pipa" class="logo"> -->
  
      <!-- Menu -->
      <ul class="menu p-3">
        <li><a href="#">ONDE IR EM PIPA</a></li>

        <li class="dropdown">
          <span href="#">TODOS OS PASSEIOS <i class="fa-solid fa-chevron-down"></i> </span>
          
          <ul class="dropdown-menu">
            <li><a href="#">Passeio de Buggy</a></li>
            <li><a href="#">Passeio de Barco</a></li>
            <li><a href="#">Passeio a Cavalo</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>

  