<section class="min-vh-40 d-flex flex-column gap-3 p-3 p-md-4 my-3 my-md-5">
  <h1 class="text-dark fw-bolder display-1 display-4 display-5 display-6">
    VISÃO DE PIPA
  </h1>
  <p class="fs-4 fs-5 fs-6 lh-base pe-2 pe-md-4 w-100 w-md-90 text-justify">
    Na Visão de Pipa, nossa missão é proporcionar a você a experiência
    inesquecível que merece. Desde o momento em que você embarca em nossos
    passeios exclusivos até o instante de registrar cada lembrança com
    perfeição, estamos ao seu lado para garantir que cada detalhe seja especial.
    Trabalhamos apenas com os melhores materiais, assegurando qualidade e
    momentos únicos. Não perca tempo! Venha viver a melhor experiência da sua
    vida com a gente!
  </p>

  <div class="d-flex gap-2 gap-md-3">
    <button class="btn btn-custom-primary rounded-pill px-3 px-md-4 py-2 fw-bold shadow text-white">
      QUEM SOMOS NÓS
    </button>
    <button class="btn btn-custom-primary rounded-pill px-3 px-md-4 py-2 fw-bold shadow text-white">
      CONTATE-NOS
    </button>
  </div>
</section>
