<app-introduction></app-introduction>
<section class="hero-section bg-black">
  <img
    src="https://s3-alpha-sig.figma.com/img/5d97/41a9/e8742c7d12df85210bffac091200b9d6?Expires=1743984000&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=FMg5Yy~EeggTrCCA-k5sqPZ61br2gYbdbXhd6rG7ZR3PXW9I023D84RwpyoHNrUd89dD0OAMWdrYaqW0c2CC8izldHwdwLFD4YIoQFuVlPDAZb0coQhZIkdBA2GbLlqRDLNje1jOm8iljiPvvsBRV4-PNH~6SMA7hxhPR9iTdZ2VhfXhou3wAbkj~h20FHGZjnZ6IoBgKhqtWHRbwWEeME-rNbg~jYkcCHcvRfK6AboX8AjJB~6XfShet7Gp8b9nUtkdcbY9lO3eDYmA7iCkvW4ZSHtMkEco2WtyIt3t0vUUeux5YBMkqj5Mf1uG4FdxFpAoWyl95NxfbgnBF4RS9A__"
    class="w-100 h-100 object-fit-cover"
    alt="Pipa Beach View"
  />
</section>

<app-best-tour></app-best-tour>
<app-faq></app-faq>
