.introduction-section {
    min-height: 40dvh;
    justify-content: center;
    align-items: center;
    margin-block: 3rem;
}

.introduction-section__main-title {
    font-size: 64px;
}

.introduction-section__p-content {
    max-width: 1100px;
}

.introduction-section__call-btns-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;

}

.introduction-section__call-btns-container__button {
    width: 200px;
    height: 60px;
    border: none;
    border-radius: 30px;
}

.main-carousel-section {
    /* height: 85dvh; */
}

img {
    object-fit: fill;
    height: 100%;
}

.card-section{
    min-width: 40dvh;
}

.cards{
    display:flex;
    justify-content: center;
}

.card{
    margin: 10px;
    background-color: #233B53;  
    color:#F9FAF9;
}

.bg-color-card{
   
    background-color: #F9FAF9;  
    color:#233B53;
}

