<section class="introduction-section d-flex flex-column gap-3 p-4">
    <h1 class="text-dark fw-bold">
        VISÃO DE PIPA
    </h1>
    <p class="fw-lighter fs-4 lh-base pe-4">
        Na Visão de Pipa, nossa missão é proporcionar a você a experiência inesquecível que merece. Desde o momento em que você embarca em nossos passeios exclusivos até o instante de registrar cada lembrança com perfeição, estamos ao seu lado para garantir que cada detalhe seja especial. Trabalhamos apenas com os melhores materiais, assegurando qualidade e momentos únicos. Não perca tempo! Venha viver a melhor experiência da sua vida com a gente!
    </p>

    <div class="d-flex gap-3">
        <button class="btn btn-primary bg-color-main">Quem somos nós?</button>
        <button class="btn btn-primary bg-color-main">Contate-nos</button>

    </div>
</section>
<section class="main-carousel-section bg-black d-flex justify-content-center align-items-center">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://s3-alpha-sig.figma.com/img/5d97/41a9/e8742c7d12df85210bffac091200b9d6?Expires=1743984000&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=FMg5Yy~EeggTrCCA-k5sqPZ61br2gYbdbXhd6rG7ZR3PXW9I023D84RwpyoHNrUd89dD0OAMWdrYaqW0c2CC8izldHwdwLFD4YIoQFuVlPDAZb0coQhZIkdBA2GbLlqRDLNje1jOm8iljiPvvsBRV4-PNH~6SMA7hxhPR9iTdZ2VhfXhou3wAbkj~h20FHGZjnZ6IoBgKhqtWHRbwWEeME-rNbg~jYkcCHcvRfK6AboX8AjJB~6XfShet7Gp8b9nUtkdcbY9lO3eDYmA7iCkvW4ZSHtMkEco2WtyIt3t0vUUeux5YBMkqj5Mf1uG4FdxFpAoWyl95NxfbgnBF4RS9A__" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://s3-alpha-sig.figma.com/img/5d97/41a9/e8742c7d12df85210bffac091200b9d6?Expires=1743984000&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=FMg5Yy~EeggTrCCA-k5sqPZ61br2gYbdbXhd6rG7ZR3PXW9I023D84RwpyoHNrUd89dD0OAMWdrYaqW0c2CC8izldHwdwLFD4YIoQFuVlPDAZb0coQhZIkdBA2GbLlqRDLNje1jOm8iljiPvvsBRV4-PNH~6SMA7hxhPR9iTdZ2VhfXhou3wAbkj~h20FHGZjnZ6IoBgKhqtWHRbwWEeME-rNbg~jYkcCHcvRfK6AboX8AjJB~6XfShet7Gp8b9nUtkdcbY9lO3eDYmA7iCkvW4ZSHtMkEco2WtyIt3t0vUUeux5YBMkqj5Mf1uG4FdxFpAoWyl95NxfbgnBF4RS9A__" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://s3-alpha-sig.figma.com/img/5d97/41a9/e8742c7d12df85210bffac091200b9d6?Expires=1743984000&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=FMg5Yy~EeggTrCCA-k5sqPZ61br2gYbdbXhd6rG7ZR3PXW9I023D84RwpyoHNrUd89dD0OAMWdrYaqW0c2CC8izldHwdwLFD4YIoQFuVlPDAZb0coQhZIkdBA2GbLlqRDLNje1jOm8iljiPvvsBRV4-PNH~6SMA7hxhPR9iTdZ2VhfXhou3wAbkj~h20FHGZjnZ6IoBgKhqtWHRbwWEeME-rNbg~jYkcCHcvRfK6AboX8AjJB~6XfShet7Gp8b9nUtkdcbY9lO3eDYmA7iCkvW4ZSHtMkEco2WtyIt3t0vUUeux5YBMkqj5Mf1uG4FdxFpAoWyl95NxfbgnBF4RS9A__" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
</section>