<section class="introduction-section d-flex flex-column gap-3 p-4">
  <h1 class="text-dark fw-bold introduction-section__main-title">
    VISÃO DE PIPA
  </h1>
  <p class="fw-light fs-4 lh-base pe-4 introduction-section__p-content">
    Na Visão de Pipa, nossa missão é proporcionar a você a experiência
    inesquecível que merece. Desde o momento em que você embarca em nossos
    passeios exclusivos até o instante de registrar cada lembrança com
    perfeição, estamos ao seu lado para garantir que cada detalhe seja especial.
    Trabalhamos apenas com os melhores materiais, assegurando qualidade e
    momentos únicos. Não perca tempo! Venha viver a melhor experiência da sua
    vida com a gente!
  </p>

  <div class="d-flex gap-3 introduction-section__call-btns-container">
    <button
      class="btn-primary bg-color-main introduction-section__call-btns-container__button"
    >
      QUEM SOMOS NÓS
    </button>
    <button
      class="btn-primary bg-color-main introduction-section__call-btns-container__button"
    >
      CONTATE-NOS
    </button>
  </div>
</section>
<section
  class="main-carousel-section bg-black d-flex justify-content-center align-items-center"
>
  <div
    id="carouselExampleControls"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="https://s3-alpha-sig.figma.com/img/5d97/41a9/e8742c7d12df85210bffac091200b9d6?Expires=1743984000&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=FMg5Yy~EeggTrCCA-k5sqPZ61br2gYbdbXhd6rG7ZR3PXW9I023D84RwpyoHNrUd89dD0OAMWdrYaqW0c2CC8izldHwdwLFD4YIoQFuVlPDAZb0coQhZIkdBA2GbLlqRDLNje1jOm8iljiPvvsBRV4-PNH~6SMA7hxhPR9iTdZ2VhfXhou3wAbkj~h20FHGZjnZ6IoBgKhqtWHRbwWEeME-rNbg~jYkcCHcvRfK6AboX8AjJB~6XfShet7Gp8b9nUtkdcbY9lO3eDYmA7iCkvW4ZSHtMkEco2WtyIt3t0vUUeux5YBMkqj5Mf1uG4FdxFpAoWyl95NxfbgnBF4RS9A__"
          class="d-block w-100"
          alt="..."
        />
      </div>
      <div class="carousel-item">
        <img
          src="https://s3-alpha-sig.figma.com/img/5d97/41a9/e8742c7d12df85210bffac091200b9d6?Expires=1743984000&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=FMg5Yy~EeggTrCCA-k5sqPZ61br2gYbdbXhd6rG7ZR3PXW9I023D84RwpyoHNrUd89dD0OAMWdrYaqW0c2CC8izldHwdwLFD4YIoQFuVlPDAZb0coQhZIkdBA2GbLlqRDLNje1jOm8iljiPvvsBRV4-PNH~6SMA7hxhPR9iTdZ2VhfXhou3wAbkj~h20FHGZjnZ6IoBgKhqtWHRbwWEeME-rNbg~jYkcCHcvRfK6AboX8AjJB~6XfShet7Gp8b9nUtkdcbY9lO3eDYmA7iCkvW4ZSHtMkEco2WtyIt3t0vUUeux5YBMkqj5Mf1uG4FdxFpAoWyl95NxfbgnBF4RS9A__"
          class="d-block w-100"
          alt="..."
        />
      </div>
      <div class="carousel-item">
        <img
          src="https://s3-alpha-sig.figma.com/img/5d97/41a9/e8742c7d12df85210bffac091200b9d6?Expires=1743984000&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=FMg5Yy~EeggTrCCA-k5sqPZ61br2gYbdbXhd6rG7ZR3PXW9I023D84RwpyoHNrUd89dD0OAMWdrYaqW0c2CC8izldHwdwLFD4YIoQFuVlPDAZb0coQhZIkdBA2GbLlqRDLNje1jOm8iljiPvvsBRV4-PNH~6SMA7hxhPR9iTdZ2VhfXhou3wAbkj~h20FHGZjnZ6IoBgKhqtWHRbwWEeME-rNbg~jYkcCHcvRfK6AboX8AjJB~6XfShet7Gp8b9nUtkdcbY9lO3eDYmA7iCkvW4ZSHtMkEco2WtyIt3t0vUUeux5YBMkqj5Mf1uG4FdxFpAoWyl95NxfbgnBF4RS9A__"
          class="d-block w-100"
          alt="..."
        />
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleControls"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleControls"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section>

<section class="card-section d-flex flex-column gap-3 p-4 ">
  <h1 class="text-dark fw-bold card-section__main-title">Os melhores passeios de Pipa!</h1>
  <div class="cards">
    <div class="card text-center mb-3" style="width: 18rem">
      <img src="..." class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title text-start ">Passeio 1</h5>
        <p class="card-text text-start">
          Body text for whatever you’d like to add more to the subheading.      
        </p>
        <a href="#" class="btn btn-primary bg-color-card">VER PASSEIO</a>
      </div>
    </div>
    <div class="card text-center mb-3" style="width: 18rem">
      <img src="..." class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title text-start">Passeio 2</h5>
        <p class="card-text text-start">
          Body text for whatever you’d like to add more to the subheading.      
        </p>
        <a href="#" class="btn btn-primary bg-color-card">VER PASSEIO</a>
      </div>
    </div>
    <div class="card text-center mb-3" style="width: 18rem">
      <img src="..." class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title text-start">Passeio 3</h5>
        <p class="card-text text-start">
          Body text for whatever you’d like to add more to the subheading. 
        </p>
        <a href="#" class="btn btn-primary bg-color-card ">VER PASSEIO</a>
      </div>
    </div>
  </div>
</section>

<section>
  <section class="faq-section d-flex flex-column gap-3 p-4">
    <h1 class="text-dark fw-bold card-section__main-title">Perguntas Frequentes</h1>

    <div class="accordion" id="accordionPanelsStayOpenExample">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button
            class="accordion-button"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#panelsStayOpen-collapseOne"
            aria-expanded="true"
            aria-controls="panelsStayOpen-collapseOne"
          >
            É possível personalizar o passeio?
          </button>
        </h2>
        <div
          id="panelsStayOpen-collapseOne"
          class="accordion-collapse collapse show"
        >
          <div class="accordion-body">
            <strong>Aqui está uma resposta muito boa!</strong> It is shown by
            default, until the collapse plugin adds the appropriate classes that
            we use to style each element. These classes control the overall
            appearance, as well as the showing and hiding via CSS transitions.
            You can modify any of this with custom CSS or overriding our default
            variables. It's also worth noting that just about any HTML can go
            within the <code>.accordion-body</code>, though the transition does
            limit overflow.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#panelsStayOpen-collapseTwo"
            aria-expanded="false"
            aria-controls="panelsStayOpen-collapseTwo"
          >
            Quais são as políticas de cancelamento e reembolso?
          </button>
        </h2>
        <div
          id="panelsStayOpen-collapseTwo"
          class="accordion-collapse collapse"
        >
          <div class="accordion-body">
            <strong>This is the second item's accordion body.</strong> It is
            hidden by default, until the collapse plugin adds the appropriate
            classes that we use to style each element. These classes control the
            overall appearance, as well as the showing and hiding via CSS
            transitions. You can modify any of this with custom CSS or
            overriding our default variables. It's also worth noting that just
            about any HTML can go within the <code>.accordion-body</code>,
            though the transition does limit overflow.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#panelsStayOpen-collapseThree"
            aria-expanded="false"
            aria-controls="panelsStayOpen-collapseThree"
          >
            O passeio é adequado para crianças ou idosos?
          </button>
        </h2>
        <div
          id="panelsStayOpen-collapseThree"
          class="accordion-collapse collapse"
        >
          <div class="accordion-body">
            <strong>This is the third item's accordion body.</strong> It is
            hidden by default, until the collapse plugin adds the appropriate
            classes that we use to style each element. These classes control the
            overall appearance, as well as the showing and hiding via CSS
            transitions. You can modify any of this with custom CSS or
            overriding our default variables. It's also worth noting that just
            about any HTML can go within the <code>.accordion-body</code>,
            though the transition does limit overflow.
          </div>
        </div>
      </div>
    </div>
  </section>
</section>
